<div class="home-placeholder-name">
    <p>&nbsp;</p>
</div>
<div class="home-self-introduction tilt-card" data-tilt data-tilt-scale="1.05">
    <p class="home-self-introduction-text">I am Juyi Zhang, a Mechanical Engineering Master Student in ETH Zurich.<br> Even though I majors in Mechanical Engineering, and I do love the subject of MEMS and Robotics. I do regard myself as a cross-disciplinary engineer. I also developed a wide range of interest in Electrical Engineering, Programming and Art Creation. I have been actively working on projects on the field I am interested in and have accomplished some exciting work. If you would like to learn more about me, please see the project pages in my Portfolio website. In addition to projects, I also worked with companies and research labs for work and academic experience and the detail can be found at the experience section. You can also swipe down to find out more about my interest in different areas.</p>
</div>
<div class="home-second-row-element">
    <div class="home-education tilt-card" data-tilt data-tilt-scale="1.05">
        <h2 class="home-title home-text home-education-content">Education</h2>
        <table width="100%" class="home-education-content">
            <tr>
                <td>
                    <p class="home-university home-text home-text-left" id="home-uiuc">University of Illinois at Urbana Champaign</p>
                </td>
                <td>
                    <p class="home-text home-text-right">2017.9-2021.5</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="home-text home-text-left">Mechanical Engineering, B.S.</p>
                </td>
                <td>
                    <p class="home-text home-text-right">GPA:3.89/4.00</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="home-university home-text home-text-left" id="home-eth">ETH Zurich</p>
                </td>
                <td>
                    <p class="home-text home-text-right">2021.9-2023.1(est)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="home-text home-text-left">Mechanical Engineering, M.Sc.</p>
                </td>
                <td>
                    <p class="home-text home-text-right">GPA:5.48/6.00</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="home-contact tilt-card" data-tilt data-tilt-scale="1.05">
        <h2 class="home-title home-text">Contact</h2>
        <p><a class="home-text home-contact-text" href="mailto:juyzhang@student.ethz.ch">Mail: juyzhang@student.ethz.ch</a></p>
        <p class="home-text home-contact-text">Phone: +41 76 474 91 93 or +1 (217)722-0656</p>
        <p><a class="home-text home-contact-text" href="https://www.linkedin.com/in/juyiz/">Also find me at Linkedin</a></p>
        <p class="home-text home-contact-text">You can also find me at ETH Zurich!</p>
    </div>
</div>
