<div class="container">
    <div class="grid">
        <div class="card sus">
            <h1 class="sustainability-text">Sustainability</h1>
        </div>
        <div class="card ms">
                <h2 style="text-align: left; margin-left: 2rem; margin-top: 1rem">M.S.</h2>
                <p style="margin-left: 2rem; margin-top: 0.3rem" class="education-degree-major">Mechanical<br>Engineering</p>
            <p class="education-school">ETH Zurich</p>
        </div>
        <div class="card meng">
            <div class="education-degree-text">
                <h2>MEng</h2>
                <p class="education-degree-major">Material Science Engineering</p>
            </div>
            
            <p class="education-school">University of California, Berkeley</p>
        </div>
        <div class="card mems center">
            <p class="card-text mems">MEMS</p>
        </div>
        <div class="card education center">
            <p class="card-text title">Education</p>
        </div> 
        <div class="card semiconductor center">
            <p class="card-text semi">Semiconductor</p>
        </div>
        <div class="card electrical-engineering center">
            <p class="card-text ee">Electrical<br>Engineering</p>
        </div>
        <div class="card mr-dev center">
            <p class="card-text mr">MR Dev</p>
        </div>
        <div class="card bs">
            <div class="education-degree-text">
                <h2>B.S.</h2>
                <p class="education-degree-major">Mechanical Engineering</p>
        </div>
            <p class="education-school">University of Illinois Urbana Champaign</p>
        </div>
        <div class="card ceramics asp">
        </div>
        <div class="card plastics asp">
        </div>
        
        <div class="card product-design">
            <p class="pd-text">Industrial Design</p>
        </div>
        <div class="card manufacturing">
            <p class="card-text mfg">Manufacturing</p>
        </div>
        
    </div>
</div>