<h1 class="title home-title introduction">I am&nbsp;</h1>
<div class="home-title home-definition-slot">
    <div id="description-container">
        <h1 class="title home-title job-description" id="home-text-juyi-zhang">Juyi Zhang</h1>
        <h1 class="title home-title job-description" id="home-text-mechanical-engineer">a Mechanical Engineer</h1>
        <h1 class="title home-title job-description" id="home-text-electrical-engineer">an Electrical Engineer</h1>
        <h1 class="title home-title job-description" id="home-text-programmer">a Programmer</h1>
        <h1 class="title home-title job-description" id="home-text-designer">a Designer</h1>
    </div>
</div>
<app-juyi></app-juyi>

