<table class="tab-bar-background">
  <tr>
    <td class="tab-bar-title-cell">
      <p class="tab-bar-text tab-bar-title" id="tab-bar-name" routerLink="/home">Juyi Zhang</p>
    </td>
    <td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages" id="tab-bar-experience" routerLink="/experience">Experience</p>
    </td>
    <!--td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages" id="tab-bar-skills" routerLink="/skill">Skills</p>
    </td>
    <td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages" id="tab-bar-projects" routerLink="/project">Projects</p>
    </td-->
  </tr>
</table>
<router-outlet></router-outlet>
