<table class="tab-bar-background">
  <tr>
    <td class="tab-bar-title-cell">
      <p class="tab-bar-text tab-bar-title">Juyi Zhang</p>
    </td>
    <td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages">Experience</p>
    </td>
    <td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages">Skills</p>
    </td>
    <td class="tab-bar-page-cell">
      <p class="tab-bar-text tab-bar-pages">Projects</p>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>