<div>
  <!-- Navigation Bar -->
   <div class="navigation-bar">
    <p class="navigation-bar-font navigation-bar-title"><a routerLink="/home" routerLinkActive="active">Juyi Zhang</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/contact" routerLinkActive="active_contact">Contacts</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/publications" routerLinkActive="active_pub">Researches</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/skills" routerLinkActive="active_skill">Skills</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/projects" routerLinkActive="active_proj">Projects</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/experience" routerLinkActive="active_exp">Experience</a></p>
    <p class="navigation-bar-font navigation-bar-link"><a routerLink="/education" routerLinkActive="active_edu">Education</a></p>
  </div>
</div>
<router-outlet />
